.label {
	width: fit-content;
	padding: 2px 6px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.5px;

	&.triangle {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 95%;
			top: 50%;
			transform: translateY(-50%);
			border-width: 10px;
			border-style: solid;
			border-color: transparent transparent transparent #ebeef6;
			border-radius: 10px;
		}
	}
}
